# Development and testing requirements
# Inherit base (production) requirements
-r requirements.txt

# Testing
pytest==7.4.4
pytest-cov==4.1.0

# Linting
flake8==6.1.0
pyflakes==3.1.0

# Tooling
tox==4.11.4
